<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
       
      <script th:src="@{/main.js}"></script>
      <link th:href="@{/main.css}" rel="stylesheet" />
    
</head>

   <body ng-app="StudentManagement" ng-controller="StudentController">
   
   <h1 th:inline="text">[[${name}]]</h1><br>
   <a th:href="@{/logout}">Logout</a>
      <h3>
         CRUD: Spring Boot + Rest + AngularJS
      </h3>
      <form ng-submit="submitStudent()">
         <table >
            <tr>
               <td>Student Id</td>
               <td>{{studentForm.id}}</td>
            </tr>
            <tr>
               <td>Student Name</td>
               <td><input type="text" ng-model="studentForm.name" /></td>
            </tr>
            <tr>
               <td>Student Email</td>
               <td><input type="text" ng-model="studentForm.email"  /></td>
            </tr>
            <tr>
               <td colspan="2">
                  <input type="submit" value="Submit" class="blue-button" />
               </td>
            </tr>
         </table>
      </form>
      <br/>
      <a class="create-button" ng-click="createStudent()">Create Student</a>
      <table border="1">
         <tr>
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Edit</th>
            <th>Delete</th>
         </tr>
         <!-- $scope.employees -->
         <tr ng-repeat="student in students">
            <td> {{student.id}}</td>
            <td> {{ student.name }}</td>
            <td >{{ student.email }}</td>
            <td>
            <a ng-click="editStudent(student)" class="edit-button">Edit</a>
            </td>
            <td>
            <a ng-click="deleteStudent(student)" class="delete-button">Delete</a>
            </td>
         </tr>
      </table>
      <br><br>
    <a th:href="@{/logout}">Logout</a>
   </body>

</html>